## Deliverable 3. Create a Travel Itinerary Map.

In [20]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [68]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.round(2)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,84.18,overcast clouds,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
1,1,Qui Nhon,VN,84.47,overcast clouds,13.77,109.23,Hoang Yen Canary Hotel
2,17,Puerto Ayora,EC,78.76,broken clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,21,Cattolica,IT,80.47,overcast clouds,43.96,12.74,Hotel Antares
4,23,Hilo,US,80.33,light rain,19.73,-155.09,Hilo Hawaiian Hotel

In [69]:
vacation_df.isnull().sum().sum()

0

In [70]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [71]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#marker_layer = gmaps.marker_layer(locations, info_box_content='x')
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
Us_cities_df = vacation_df.loc[ (vacation_df["Country"] == "US") ]
Us_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kapaa,US,84.18,overcast clouds,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
4,23,Hilo,US,80.33,light rain,19.73,-155.09,Hilo Hawaiian Hotel
14,55,Hamilton,US,80.78,haze,39.18,-84.53,Six Acres Bed & Breakfast
22,89,Makakilo City,US,82.72,broken clouds,21.35,-158.09,Marriott's Ko Olina Beach Club
31,122,Watertown,US,77.52,few clouds,42.37,-71.18,Sonesta International Hotels Corporation
32,128,Bethel,US,75.07,overcast clouds,41.37,-73.41,Courtyard by Marriott Danbury
33,129,Amberley,US,80.10,haze,39.20,-84.43,"Motel 6 Cincinnati, OH - Central - Norwood"
56,211,Mayo,US,82.38,overcast clouds,38.89,-76.51,Resorts Resource Group International
59,224,Pacific Grove,US,84.16,clear sky,36.62,-121.92,Lovers Point Inn
71,283,Virginia Beach,US,84.02,broken clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
82,316,Palmer,US,76.55,broken clouds,42.16,-72.33,Wedgewood Motel
91,354,Sterling,US,84.31,broken clouds,39.01,-77.43,Hampton Inn & Suites Washington-Dulles Interna...
97,373,East Bethel,US,81.01,broken clouds,45.32,-93.20,Norquist Camp Ground
99,385,Filadelfia,US,76.17,overcast clouds,39.95,-75.16,"The Ritz-Carlton, Philadelphia"
117,432,Fergus Falls,US,79.47,clear sky,46.28,-96.08,AmericInn by Wyndham Fergus Falls Conference C...
119,443,Shelton,US,76.55,overcast clouds,41.32,-73.09,Hilton Garden Inn Shelton
156,576,Lewistown,US,80.91,heavy intensity rain,40.60,-77.57,Quality Inn & Suites
162,590,Chillicothe,US,79.52,scattered clouds,39.33,-82.98,Holiday Inn Express Chillicothe East
165,609,Saint Anthony,US,80.92,overcast clouds,45.02,-93.22,"Holiday Inn Express Roseville-St. Paul, an IHG..."
184,676,Marion,US,80.92,broken clouds,39.77,-86.16,Hilton Garden Inn Indianapolis Downtown

In [73]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['Hotel Name']=='Lovers Point Inn')]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[(vacation_df['Hotel Name']=='Hilton Virginia Beach Oceanfront')]
vacation_stop2 = vacation_df.loc[(vacation_df['Hotel Name']=='Wedgewood Motel')] 
vacation_stop3 = vacation_df.loc[(vacation_df['Hotel Name']=='Hilton Garden Inn Indianapolis Downtown')] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
59,224,Pacific Grove,US,84.16,clear sky,36.62,-121.92,Lovers Point Inn

In [88]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
71,283,Virginia Beach,US,84.02,broken clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront

In [89]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
82,316,Palmer,US,76.55,broken clouds,42.16,-72.33,Wedgewood Motel

In [90]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
184,676,Marion,US,80.92,broken clouds,39.77,-86.16,Hilton Garden Inn Indianapolis Downtown

In [78]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = tuple(map(tuple,vacation_start[['Lat','Lng']].to_numpy()))
end = start
stop1 = tuple(map(tuple,vacation_stop1[['Lat','Lng']].to_numpy()))
stop2 = tuple(map(tuple,vacation_stop2[['Lat','Lng']].to_numpy()))
stop3 = tuple(map(tuple,vacation_stop3[['Lat','Lng']].to_numpy()))

start  = start[0]
end = start
stop1 = stop1[0]
stop2 = stop2[0]
stop3 = stop3[0]

stop3[0]

39.7684

In [79]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig1 = gmaps.figure()
vacay_route =\
     gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig1.add_layer(vacay_route)
fig1

Figure(layout=FigureLayout(height='420px'))

In [80]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,224,Pacific Grove,US,84.16,clear sky,36.62,-121.92,Lovers Point Inn
1,283,Virginia Beach,US,84.02,broken clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
2,316,Palmer,US,76.55,broken clouds,42.16,-72.33,Wedgewood Motel
3,676,Marion,US,80.92,broken clouds,39.77,-86.16,Hilton Garden Inn Indianapolis Downtown

In [81]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [87]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure

fig2.add_layer(marker_layer)
fig2

Figure(layout=FigureLayout(height='420px'))